
<h1>Voitures</h1>
<ul>
{% for voiture in voitures %}
<li>{{ voiture.marque|e }}  {{voiture.nbrplace|e }} Places </li>
{% endfor %}
</ul>

<button type="button" class="btn btn-primary" ><a href={{path('admin')}}>back</a></button>
